

html {
  background-color: #235162
}

.image-container {
  display: flex;
  justify-content: center;
}

h1 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #e8d487;
}

hr {
  width: 100%;
}